<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="flex justify-center items-center h-screen">
    <div class="flex flex-col divide-y-2 divide-black">
        <div class="flex space-x-4">
            <i class="material-icons pt-4">home</i>
            <h1 class="text-5xl">{{ title }}</h1>
        </div>
        <ul class="flex flex-col pt-12 space-y-12">
            {% for service in config: %}
            {% include "service.html" %}
            {% endfor %}
        </ul>
    </div>
</body>

</html>
