<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</head>

<body class="flex justify-center items-center h-screen">
    <div class="flex flex-col divide-y-2 divide-black">
        <div class="flex space-x-4">
            <iconify-icon class="text-5xl" icon="mdi:home"></iconify-icon>
            <h1 class="text-5xl">{{ title }}</h1>
        </div>
        <ul class="flex flex-col pt-12 space-y-12">
            {% for service in config: %}
            {% include "service.html" %}
            {% endfor %}
        </ul>
    </div>
</body>

</html>
